@-moz-keyframes spin { 50% { -moz-transform: rotateZ(360deg); } }
@-webkit-keyframes spin { 50% { -webkit-transform: rotateZ(360deg); } }
@keyframes spin { 50% { -webkit-transform: rotateZ(360deg); transform:rotateZ(360deg)}}
#loadLogo {
  height: 400px;
  -webkit-animation: spin 5s infinite;
  animation: spin 5s infinite;
}
